In [24]:
import pandas as pd
import math as math
import numpy as np

train = pd.read_csv('C:/Hackathon/Black Friday/data/train.csv')
test = pd.read_csv('C:/Hackathon/Black Friday/data/test.csv')

print 'data imported'

data imported

In [26]:
train['Stay_In_Current_City_Years']=train['Stay_In_Current_City_Years'].replace('4+', '4')
train = train.replace({'Gender': {'F':'1', 'M':'0'},
                              'City_Category': {'A':'0', 'B':'1', 'C':'2'},
                               'Age': {'0-17':'10','18-25':'20','26-35':'30','36-45':'40','46-50':'48','51-55':'53','55+':'60'}                         
                               
                              })

In [25]:
test['Stay_In_Current_City_Years']=test['Stay_In_Current_City_Years'].replace('4+', '4')
test = test.replace({'Gender': {'F':'1', 'M':'0'},
                              'City_Category': {'A':'0', 'B':'1', 'C':'2'},
                               'Age': {'0-17':'10','18-25':'20','26-35':'30','36-45':'40','46-50':'48','51-55':'53','55+':'60'}                         
                               
                              })

In [27]:
inputVars = train[['Gender', 'City_Category','Age', 'Occupation', 'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1']]
outputVars = test[['Gender', 'City_Category','Age', 'Occupation', 'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1']]

In [6]:
print 'importeren decision tree libraries'

from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(inputVars, train['Purchase'])

importeren decision tree libraries

In [29]:
print "voorspellingen maken"

prediction = clf.predict(outputVars)

prediction

voorspellingen maken

MemoryError:

In [28]:
outputVars

,Gender,City_Category,Age,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1
0,0,1,48,7,2,1,1
1,0,2,30,17,0,0,3
2,1,1,40,1,4,1,5
3,1,1,40,1,4,1,4
4,1,2,30,1,1,0,4
5,0,2,48,1,3,1,2
6,0,2,48,1,3,1,1
7,0,2,48,1,3,1,2
8,0,0,30,7,1,0,10
9,0,0,20,15,4,0,5
10,0,1,30,7,2,1,1
11,0,1,30,7,2,1,5
12,0,1,30,7,2,1,5
13,0,1,30,7,2,1,5
14,1,2,30,1,2,1,10
15,0,2,40,7,1,0,2
16,0,0,48,3,1,1,15
17,0,0,48,3,1,1,5
18,1,0,20,0,0,0,5
19,0,2,48,1,4,1,2
20,0,1,30,3,0,0,5
21,0,1,30,3,0,0,1
22,0,2,30,8,0,1,1
23,1,0,48,16,1,1,1
24,1,0,48,16,1,1,5
25,1,0,48,16,1,1,5
26,0,1,30,4,3,1,1
27,0,1,30,4,3,1,1
28,0,1,30,0,1,0,1
29,0,1,30,0,1,0,1
...,...,...,...,...,...,...,...
233569,1,1,30,0,1,1,9
233570,1,1,30,0,1,1,1
233571,1,0,30,7,0,1,16
233572,0,2,53,0,1,1,8
233573,0,2,53,0,1,1,1
233574,0,2,53,0,1,1,11
233575,0,2,53,0,1,1,1
233576,1,2,48,17,1,0,5
233577,0,2,40,0,1,0,1
233578,1,2,30,20,3,0,1
233579,0,1,48,1,1,1,1
233580,0,1,48,1,1,1,8
233581,0,2,40,1,3,0,15
233582,0,1,30,12,2,1,1
233583,0,1,30,12,2,1,4
233584,0,2,30,0,2,1,1
233585,1,1,30,1,1,0,11
233586,0,2,40,6,1,1,1
233587,0,0,20,4,4,0,1
233588,0,2,30,17,1,1,6
233589,0,2,30,17,1,1,2
233590,0,0,48,7,3,0,8
233591,0,1,53,13,1,1,1
233592,1,2,30,1,3,0,6
233593,1,1,30,15,4,1,8
233594,1,1,30,15,4,1,8
233595,1,1,30,15,4,1,5
233596,1,1,30,15,4,1,1
233597,1,2,48,1,4,0,10
233598,1,1,48,0,4,1,4